$darkone: #221f1f;
$darktwo: #1f2124;

// Адаптивная верстка //
@media (min-width:769px) {
	.header__burgermenu {display: none;}
	.header__caseslink {background-color: #fff; overflow: hidden;
		a {padding: 181px 41px 21px; position: relative;
			&:before {content: ""; width: 57%; height: 100%; position: absolute; left: auto; bottom: auto; right: 0; top: 0; background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); z-index: 1; transform: scale3d(1,1,1); transition: all 0.25s ease-in-out;}
			&:after {content: ""; width: 100%; height: 65%; position: absolute; right: auto; top: auto; left: 0; bottom: 0; background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); z-index: 1; transform: scale3d(1,1,1); transition: all 0.25s ease-in-out;}
			&:hover {
				&:before {background: linear-gradient(to right, rgba(34,34,31,0) 0%,rgba(34,34,31,1) 50%,rgba(34,34,31,1) 100%);}
				&:after {background: linear-gradient(to bottom, rgba(34,34,31,0) 0%,rgba(34,34,31,1) 50%,rgba(34,34,31,1) 100%);}
			}
		}
		p, {position: relative; z-index: 2; color: #221f1f !important;}
		.header__menuicon {top: 32px; right: 34px; z-index: 2;}
		.header__menuheading:after {display: none;}
	}
	.header__casesimage {position: absolute; left: 0; top: 0; z-index: 0;}
}

@media (max-width:768px) {
	body {flex-direction: column;}
	.header {width: 100%;}
	.content {width: 100%;}
	.container {width: 450px;}
	
	.header__logoblock {position: relative; padding: 17px 20px;}
	.header__logo {display: inline-block;}
	.header__logo img {width: 143px; height: 35px;}
	.header__square {position: relative;}
	.header__logotext {display: none;}
	.header__side {width: 400px; position: absolute; top: 69px; right: 0; background-color: #f5f5f6; z-index: 1; padding-bottom: 80px; transform: translate3d(100%,0,0); transition: all 0.25s ease-in-out;}
	.header__side.active {transform: translate3d(0,0,0);}
	.header__square_language {top: auto; right: auto; width: auto; height: auto; margin-top: 33px; margin-left: 42px;}
	.header__square-list {display: inline-block; opacity: 1; pointer-events: all; vertical-align: top;}
	.header__square-list li {display: inline-block; margin-left: 17px;}
	.header__square-list a {border-top: 2px solid $darkone; vertical-align: top;}
	.header__square a {width: 70px; height: 70px; font-size: 23px; font-weight: 600; padding: 2px 6px;}
	.header__casesimage {display: none;}
	.header__menuicon_arrow {display: none;}
	.header__itemtext {color: #131920; font-weight: 500; margin-top: 9px;}
	.header__menu {padding-top: 21px;}
	.header__caseslink a {padding: 39px 41px 16px;}
	.header__caseslink .header__menuicon {position: absolute; right: 35px; top: 82px;}
	.header__menu li:nth-child(2) a {padding: 39px 41px 40px;}
	.header__menu li:nth-child(3) .header__itemtext {margin-top: 25px;}
	.header__menu li:nth-child(3) a {padding: 39px 41px 35px;}
	.header__menu li:nth-child(4) a {padding: 39px 41px 40px;}
	.header__square_social {top: auto; right: auto; width: auto; height: auto; margin-top: 40px; margin-left: 25px;}
	.header__square_social > a {display: none;}
	.header__square_social li:nth-child(1) svg {width: 12px;}
	.header__square_social li:nth-child(2) svg {width: 22px;}
	.header__square_social li:nth-child(3) svg {width: 22px;}
	
	.content_main {padding-top: 116px; padding-bottom: 700px;}
	.content__scroll-link {display: block; margin-top: 194px; text-align: center; padding-left: 0;}
	.content__scroll-link:before {right: 0; top: -180px;}
	.content__bgmain {display: none;}
	.content__bgphone {width: 90%; top: auto; bottom: -10px; transform: translate(0);}
}

@media (max-width:480px) {
	.container {width: 280px;}
	
	.header__logoblock {padding: 12px 24px;}
	.header__logo img {width: 95px;}
	.header__side {width: 200px; top: 59px; right: 0;}
	.header__square_language {margin-top: 23px; margin-left: 20px;}
	.header__square-list li {margin-left: 10px;}
	.header__square a {width: 44px; height: 44px; font-size: 16px;}
	.header__itemtext {font-size: 12px;}
	.header__menu li a {padding-top: 39px !important; padding-left: 20px !important; padding-right: 30px !important;}
	.header__caseslink a {padding-bottom: 16px;}
	.header__caseslink .header__menuicon {right: 10px; top: 65px; width: 24px;}
	.header__square_social {margin-left: 20px;}
	.header__square_social li:nth-child(1) svg {width: 8px;}
	.header__square_social li:nth-child(2) svg {width: 14px;}
	.header__square_social li:nth-child(3) svg {width: 14px;}
	.header__menuheading {font-size: 24px;}
	.header__menuheading:after {width: 98px;}
	.header__menu li:nth-child(2) .header__menuicon {width: 16px; top: 37px; right: 14px;}
	.header__menu li:nth-child(3) .header__itemtext {margin-top: 15px;}
	.header__menu li:nth-child(3) .header__menuicon {width: 23px; top: 135px; right: 10px;}
	.header__menu li:nth-child(4) .header__menuicon {width: 25px; top: 39px; right: 10px;}
	.header__menu li:nth-child(5) .header__menuicon {width: 26px; top: 40px; right: 10px;}
	.header__square_social .header__square-list li:first-child {margin-left: 0;}
	
	.content_main {padding-top: 72px; padding-bottom: 360px;}
	.content__scroll-link {display: block; margin-top: 120px; text-align: center; padding-left: 0; font-size: 23px;}
	.content__scroll-link:before {right: 0; top: -110px; width: 40px; height: 40px;}
	.content__bgmain {display: none;}
	.content__bgphone {width: 90%; top: auto; bottom: -10px; transform: translate(0);}
	.content__heading {font-size: 30px;}
}
// Адаптивная верстка //