/* line 40, C:/wamp64/www/tecco/css/basics.scss */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  /* */
  border: none; }

/* line 48, C:/wamp64/www/tecco/css/basics.scss */
*:focus {
  outline: none; }

/* line 51, C:/wamp64/www/tecco/css/basics.scss */
::selection {
  background: blue;
  color: white; }

/* line 52, C:/wamp64/www/tecco/css/basics.scss */
::-moz-selection {
  background: blue;
  color: white; }

/* line 53, C:/wamp64/www/tecco/css/basics.scss */
::-webkit-selection {
  background: blue;
  color: white; }

/* line 56, C:/wamp64/www/tecco/css/basics.scss */
::-webkit-input-placeholder {
  color: #777; }

/* line 57, C:/wamp64/www/tecco/css/basics.scss */
::-moz-placeholder {
  color: #777; }

/* line 58, C:/wamp64/www/tecco/css/basics.scss */
:-ms-input-placeholder {
  color: #777; }

/* line 59, C:/wamp64/www/tecco/css/basics.scss */
:-moz-placeholder {
  color: #777; }

/* line 62, C:/wamp64/www/tecco/css/basics.scss */
.noscroll {
  position: fixed; }

/* line 65, C:/wamp64/www/tecco/css/basics.scss */
input:-webkit-autofill {
  -webkit-text-fill-color: black !important; }

/* line 69, C:/wamp64/www/tecco/css/basics.scss */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000000000s ease-in-out 0s !important; }

/* line 87, C:/wamp64/www/tecco/css/basics.scss */
.one-col {
  width: 5.95%; }

/* line 88, C:/wamp64/www/tecco/css/basics.scss */
.two-col {
  width: 14.5%; }

/* line 89, C:/wamp64/www/tecco/css/basics.scss */
.three-col {
  width: 23.05%; }

/* line 90, C:/wamp64/www/tecco/css/basics.scss */
.four-col {
  width: 31.6%; }

/* line 91, C:/wamp64/www/tecco/css/basics.scss */
.five-col {
  width: 40.15%; }

/* line 92, C:/wamp64/www/tecco/css/basics.scss */
.six-col {
  width: 48.7%; }

/* line 93, C:/wamp64/www/tecco/css/basics.scss */
.seven-col {
  width: 57.25%; }

/* line 94, C:/wamp64/www/tecco/css/basics.scss */
.eight-col {
  width: 65.8%; }

/* line 95, C:/wamp64/www/tecco/css/basics.scss */
.nine-col {
  width: 74.35%; }

/* line 96, C:/wamp64/www/tecco/css/basics.scss */
.ten-col {
  width: 82.9%; }

/* line 97, C:/wamp64/www/tecco/css/basics.scss */
.eleven-col {
  width: 91.45%; }

/* line 98, C:/wamp64/www/tecco/css/basics.scss */
.twelve-col {
  width: 100%; }

/* line 101, C:/wamp64/www/tecco/css/basics.scss */
.cols {
  text-align: justify;
  text-justify: distribute; }
  /* line 102, C:/wamp64/www/tecco/css/basics.scss */
  .cols:after {
    content: "";
    display: inline-block;
    height: 0.0000000000001px;
    width: 100%; }
  /* line 103, C:/wamp64/www/tecco/css/basics.scss */
  .cols > * {
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    vertical-align: top; }

/* line 119, C:/wamp64/www/tecco/css/basics.scss */
html {
  width: 100%;
  height: 100%; }

/* line 120, C:/wamp64/www/tecco/css/basics.scss */
body {
  width: 100%;
  min-height: 100%;
  font-size: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  color: #221f1f; }

/* line 122, C:/wamp64/www/tecco/css/basics.scss */
header, section, footer {
  width: 100%;
  float: left; }

/* line 123, C:/wamp64/www/tecco/css/basics.scss */
.container {
  width: 1420px;
  margin: 0 auto; }

/* line 136, C:/wamp64/www/tecco/css/basics.scss */
h1, h2, h3, h4, h5, h6, p, span, ul, li {
  margin: 0;
  padding: 0; }

/* line 137, C:/wamp64/www/tecco/css/basics.scss */
ul {
  list-style: none; }

/* line 138, C:/wamp64/www/tecco/css/basics.scss */
span {
  font-style: inherit;
  font-family: inherit;
  font-weight: inherit; }

/* line 143, C:/wamp64/www/tecco/css/basics.scss */
h1 {
  font-size: 36px;
  line-height: 1.2em; }

/* line 144, C:/wamp64/www/tecco/css/basics.scss */
h2 {
  font-size: 30px;
  line-height: 1.2em; }

/* line 145, C:/wamp64/www/tecco/css/basics.scss */
h3 {
  font-size: 24px;
  line-height: 1.2em; }

/* line 146, C:/wamp64/www/tecco/css/basics.scss */
h4 {
  font-size: 20px;
  line-height: 1.2em; }

/* line 147, C:/wamp64/www/tecco/css/basics.scss */
h5 {
  font-size: 18px;
  line-height: 1.2em; }

/* line 150, C:/wamp64/www/tecco/css/basics.scss */
p {
  font-size: 14px;
  line-height: 1.2em; }

/* line 151, C:/wamp64/www/tecco/css/basics.scss */
p.small {
  font-size: 12px; }

/* line 152, C:/wamp64/www/tecco/css/basics.scss */
p.big {
  font-size: 16px; }

/* line 153, C:/wamp64/www/tecco/css/basics.scss */
p.huge {
  font-size: 18px; }

/* line 165, C:/wamp64/www/tecco/css/basics.scss */
a, input, button, select, textarea {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/* line 166, C:/wamp64/www/tecco/css/basics.scss */
a {
  text-decoration: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit; }

/* line 168, C:/wamp64/www/tecco/css/basics.scss */
select, input, textarea {
  padding: 10px;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  display: inline-block; }

/* line 170, C:/wamp64/www/tecco/css/basics.scss */
.button {
  text-align: center;
  border: 0;
  padding: 10px;
  display: inline-block;
  color: white;
  font-size: 15px;
  background-color: green; }
  /* line 171, C:/wamp64/www/tecco/css/basics.scss */
  .button::hover {
    background-color: blue; }

/*# sourceMappingURL=basics.css.map */